[submodule "pack/core/start/vim-airline"]
	path = pack/core/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "pack/core/start/fzf.vim"]
	path = pack/core/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "pack/core/start/vim-surround"]
	path = pack/core/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "pack/core/start/vim-fugitive"]
	path = pack/core/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "pack/dev/start/ale"]
	path = pack/dev/start/ale
	url = https://github.com/w0rp/ale
[submodule "pack/dev/start/vim-gitgutter"]
	path = pack/dev/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
